<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="app.css">
		
        
	<title>Route editor</title>
</head>
<body>
 	

<div class="container" id="app">
    <div class="row">
        <div class="col-md-5">

    <h1 class="display-3 text-center">Route editor</h1>

           <form>
            <div class="form-group">
 
             <input type="text" v-on:keyup = "addPoint" id="long" placeholder="New point" class="form-control form-control-lg" v-model="currentPoint">  
            </div>
           </form>
       
    
	<div id="output">
      <div class="card">
  
         <div class="card-block" v-for="point in points">
  
        <h4> {{point.text}} </h4>
  
         </div>
      </div>


    </div>
 
</div>




<div class="col-md-7" id="map"><!--<img src="images/a.jpg"--></div>


</div>
</div>
	
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="app.js"></script>
    
		
    </body>
    <!--<script src="js/script.js"></script>-->
</html>